/* Custom CSS */

ul.standards {
    width: 30%;
    
    margin: auto;
    
    text-align: left;
    font-size: 20px;
}

header {
}

.header {
    font-size: 72px;
}

.intro-body {
    background: linear-gradient( -35deg, #333333, black );
}

body {
    background: #333333;
}