/* Custom CSS */

ul.standards {
    width: 30%;
    
    margin: auto;
    
    text-align: left;
    font-size: 20px;
}

ul.caps {
    width: 45%;
    
    margin: auto;
    
    text-align: left;
    font-size: 20px;
}

a.ps {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
}

header {
}

.header {
    font-size: 72px;
}

.intro-body {
    background: linear-gradient( 40deg, #333333, black );
}

body {
    background: #333333;
}